@model IEnumerable<TeamWorkApp.Models.Task>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Dodaj novo nalogo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Št.
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TaskDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TaskDueDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TaskStatus)
        </th>
        <th>
            Assigned to
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    var dueDate = item.TaskDueDate.ToShortDateString();
    var taskName = $"Task_{item.TaskID}";
    <tr>
        <td>
            @taskName
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TaskDescription)
        </td>
        <td>
            @dueDate
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TaskStatus)
        </td>
        <td>
            @foreach (var t in item.TeamMembers)
            {
                <span>@t.Name</span>
            }
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TaskID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TaskID })
        </td>
    </tr>
}

</table>
