@model TeamWorkApp.Models.TeamMember

@{
    ViewBag.Title = "Uredi člana";
}

<h2>@ViewBag.Title</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.TeamMemberID)

        <div class="form-group row">
            <div class="col-xs-12 col-sm-6">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row">
            <div class="col-xs-12 col-sm-6">
                <input type="submit" value="Shrani in zapri" class="btn btn-primary" />
                <a href="@Url.Action("Index", "TeamMember")" class="btn btn-default">Prekliči</a>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
